<div class="content section-inner">
  <div class="posts">
  	<div class="post">
  	  <div class="content-inner ">
  	  	<div class="post-header">
  	  		<h2 class="post-title">About me</h2>
  	  	</div>

  	  	<div class="post-content">
  	  	  <%= raw GitHub::Markdown.render_gfm Msl12Site::Page.about_me %>
  	  	</div>

  	  </div>
  	</div>
  </div>

  <div class="clear"></div>
</div>