<% @title = 'Nothing found' %>

<div class="content section-inner">
  <div class="posts">
    <div class="post">
      <div class="content-inner">
      	<div class="post-header">
      	  <h2 class="post-title">Error 404</h2>
      	</div>

      	<div class="post-content">
      	  <p>
      	  	It seems like the page doesn't exist. I'm sorry..
      	  </p>
      	</div>
      </div>
    </div>
  </div>
</div>

<script>
  $("body").removeClass().addClass("error404");
</script>