<div class="footer-inner section-inner">
  <div class="footer-a widgets">
    <div class="widget">
      <div class="widget-content">
        <h3 class="widget-title">Social media</h3>
        <ul>
          <li>
            <%= link_to 'Github', 'https://github.com/msl12/msl12-site', target: '_blank' %>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>

  <div class="footer-b widgets">
    <div class="widget widget_tag_cloud">
      <div class="widget-content">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
          <% Blog.all_tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag.name) %>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>

  <div class="footer-c widgets">
    <div class="widget">
      <div class="widget-content">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
          <%= recent_posts 5 %>
        </ul>
      </div>
      <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>